//
// Calendar
// --------------------------------------------------

.mealThumbnail {
  background-color: rgba(36, 36, 36, 0.5);
  text-align: center;
  border-radius: 10px;
}

.thumbnailCaption {
  color: white;
}

.removeButton {
  background-color: rgb(173, 49, 45);
  color: white;
}

