.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml
server/recipes/apiKeys.js
server/user/emailAPIKey.js

# Icon must ends with two \r.
Icon

# Floobits
.floo
.floobit
.floo
.flooignore

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
client/lib/angular
client/lib/angular-bootstrap
client/lib/angular-ui-router
client/lib/bootstrap-sass
client/lib/font-awesome
client/lib/jquery
client/lib/lodash

#Build 
build