<div class="container-fluid main">
  <h1>My calendarMeals</h1>
    <div class="row row-flex" ng-repeat="row in calendarMeals">
        <div class="col-xs-6 col-lg-custom col-md-2 meal"  ng-repeat="meal in row">
          <div class="thumbnail">
            <a href="http://www.yummly.com/recipe/external/{{meal.id}}" target="_new">
              <img ng-src="{{meal.imageUrlsBySize[90]}}" alt="{{meal.recipeName}}">
            </a>
            <div class="caption">
              <a href="http://www.yummly.com/recipe/external/{{meal.id}}" target="_new">
                <!-- <h4>{{meal.recipeName}}</h4> -->
              </a>
                <h5>On {{meal.selectedDay}} for {{meal.selectedMeal}}</h5>
                <button type="button" 
                      class="btn btn-default" 
                      ng-click="removeMeal(meal)">
                Remove Meal
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-offset-{{offsets}}" ng-if="$last"></div>
    </div>
    <div class="row" ng-show="calendarMeals.length === 0">
      <div class="alert alert-info" role="alert">Select some recipes to get started.</div>
      <a class="btn btn-danger btn-md" href="#" ui-sref="recipes" role="button">Get Started</a>
    </div>
  </div>
</div>
