<div class="container-fluid main">
  <alerts></alerts>
  <h1>My Meals</h1>
  <form class="form-preferences">
    <div class="row row-flex">
        <div class="form-group col-xs-6">
        <label for="mealDay">Day</label>
        <select id="allowedDiet" 
                class="form-control"
                ng-model="selectedDay" 
                ng-change="getSelectedDay(selectedDay)"
                >
              <option value={{day}} ng-repeat="day in days">{{day}}</option>
        </select>
        </div>
        <div class="form-group col-xs-6">
        <label for="calendar">Meal</label>
        <select id="timeOfMeal" 
                class="form-control"
                ng-model="selectedMeal" 
                ng-change="getSelectedMeal(selectedMeal)"
                >
              <option value={{meal}} ng-repeat="meal in threeMeals">{{meal}}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="row row-flex" ng-repeat="row in meals">
        <div class="col-xs-6 col-md-3 meal" ng-repeat="meal in row">
          <div class="thumbnail">
            <a href="http://www.yummly.com/recipe/external/{{meal.id}}" target="_new">
              <img ng-src="{{meal.imageUrlsBySize[90]}}" alt="{{meal.recipeName}}">
            </a>
            <div class="caption">
              <a href="http://www.yummly.com/recipe/external/{{meal.id}}" target="_new">
                <h4>{{meal.recipeName}}</h4>
              </a>
              <p class="text-muted">Ready in: {{meal.totalTimeInSeconds / 60}} mins</p>
              <button type="button" 
                      class="btn btn-default btn-ingredients" 
                      ng-click="isCollapsed = !isCollapsed">
                Ingredients
              </button>
                <a class="btn btn-primary" ng-click="addCal(meal)" role="button">Add to Cal</a>
              <button type="button" 
                      class="btn btn-default btn-ingredients" 
                      ng-click="getList(meal.ingredients)">
                Email List
              </button>
              <button type="button" 
                      class="btn btn-default" 
                      ng-click="removeMeal(meal)">
                Remove Meal
              </button>
              <div uib-collapse="isCollapsed" ng-init="isCollapsed = true">
                <ol>
                  <li ng-repeat="ingredient in meal.ingredients">
                    <p>{{ingredient}}</p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-offset-{{offsets}}" ng-if="$last"></div>
    </div>
    <div class="row" ng-show="meals.length === 0">
      <div class="alert alert-info" role="alert">Select some recipes to get started.</div>
      <a class="btn btn-danger btn-md" href="#" ui-sref="recipes" role="button">Get Started</a>
    </div>
  </div>
</div>